.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #87B6DC;
    color: black;
  }
  
  .header .logo {
    font-family: 'Cursive', sans-serif;
    font-size: 30px;
    font-weight: bold;
  }
  
  .nav a {
    margin: 0 20px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  